description "etcd process"
start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec {{ etcd_install_prefix }}/etcd/bin/etcd \
    -addr={{ etcd_addr }} \
    -peer-addr={{ etcd_peer_addr }} \
    -data-dir={{ etcd_install_prefix }}/etcd/data-dir \
    -name=`hostname` \
    {% if etcd_peers %}-peers={{ etcd_peers }} \{% endif %}
    {% if etcd_discovery_url %}-discovery={{ etcd_discovery_url }} {% endif %}
